.headingmain{
    font-size:35px;
    color:brown;
    font-weight: bolder;
}
.headingsub{
    font-size:20px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.titles{
    font-size: 25px;
    color:darkblue;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman';
}
body{
    background-color: #ffffff;
}
.names{
    color:darkslateblue;
    font-size: 17px;
}
.menu { 
    background-color:brown;
    margin:auto;
    overflow: hidden;
}
.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 6px 12px;
    text-decoration:none;
    font-size: 25px;
}
.menu a:hover{
    background-color:rgb(96, 44, 44);
}
.selectedmenu{
    background-color:rgb(9, 33, 69);
}
table, td, th{
    border: 2px solid #000000;
    border-collapse: collapse;
    color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 0px 7px 0px; 
}
table{
    width: 100%;
}
